<div class="jumbotron">
  <h1 class="display-4">Bienvenus</h1>
  <p class="lead">Ici c'est notre super site de potins, il est chouette, non ?</p>
  <hr class="my-4">
  <p class="btn btn-primary btn-lg" role="button"><%= link_to "Créer un nouveau potin", new_gossip_path, style: 'color: white' %></p>
</div>
<div class="alert alert-success" role="alert">
  <%= flash[:success] %>
</div>

<h2>Listes des potins</h2>
<% @gossip.each do |gossip| %>

<div class="row">
  <div class="col-sm-6">
<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title"><%= gossip.title %></h5>
  <%= link_to "Détail du potin", gossip_path(gossip.id) %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

	<%= link_to "Editer", edit_gossip_path(gossip.id) %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	
  <%= link_to "Voir l'auteur", user_path(gossip.id)%>
  <%= link_to "Supprimer", gossip_path(gossip),
  method: :delete, data: { confirm: 'Are you sure ?'}%>
  </div>
</div>
<% end %>

